sample-flows/sampleFlow.json
[
    {
        "id": "2917deb43ef3170b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0703ac843d2b5128",
        "type": "inject",
        "z": "2917deb43ef3170b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "582cecedb378d9b0"
            ]
        ]
    },
    {
        "id": "582cecedb378d9b0",
        "type": "edgepi-thermocouple-node",
        "z": "2917deb43ef3170b",
        "name": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "9eed10d0690bc930",
                "be75e983ba76dd09",
                "21ddbe6933690e43"
            ]
        ]
    },
    {
        "id": "d47a3d4c51986a21",
        "type": "led-trigger-node",
        "z": "2917deb43ef3170b",
        "name": "",
        "x": 1220,
        "y": 560,
        "wires": [
            [
                "3358f05996e1adc9",
                "6fbbdefdce6e689a"
            ]
        ]
    },
    {
        "id": "8a023fcb61a57112",
        "type": "change",
        "z": "2917deb43ef3170b",
        "name": "LED2 ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 480,
        "wires": [
            [
                "e3b85b753784c94d"
            ]
        ]
    },
    {
        "id": "9eed10d0690bc930",
        "type": "switch",
        "z": "2917deb43ef3170b",
        "name": "Temp >= 23.5?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "26",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "26",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "98d3aad17043fc0e",
                "f386950b0e388623"
            ],
            [
                "a412ad04984d7a17",
                "8a023fcb61a57112"
            ]
        ]
    },
    {
        "id": "f386950b0e388623",
        "type": "change",
        "z": "2917deb43ef3170b",
        "name": "LED2 OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 600,
        "wires": [
            [
                "e3b85b753784c94d"
            ]
        ]
    },
    {
        "id": "e3b85b753784c94d",
        "type": "change",
        "z": "2917deb43ef3170b",
        "name": "SET LED2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 560,
        "wires": [
            [
                "d47a3d4c51986a21"
            ]
        ]
    },
    {
        "id": "6fbbdefdce6e689a",
        "type": "debug",
        "z": "2917deb43ef3170b",
        "name": "debug msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 500,
        "wires": []
    },
    {
        "id": "be75e983ba76dd09",
        "type": "ui_gauge",
        "z": "2917deb43ef3170b",
        "name": "Thermocouple Reading Gauge",
        "group": "41f64ff718e7bbd1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thermocouple Reading",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00ff00",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "25",
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "3358f05996e1adc9",
        "type": "function",
        "z": "2917deb43ef3170b",
        "name": "LED2 Status",
        "func": "if (msg.payload === 1)  {\n    status = \"ON\";\n    msg.color = \"lime\";\n} else {\n    status = \"OFF\";\n    msg.color = \"red\";\n}\n\nmsg.status = msg.topic + \": \" + status;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 560,
        "wires": [
            [
                "e74bee2a089bc1d8"
            ]
        ]
    },
    {
        "id": "df98bda01cc61c4e",
        "type": "ui_template",
        "z": "2917deb43ef3170b",
        "group": "9dc798b2378888ec",
        "name": "LED Status",
        "order": 1,
        "width": "6",
        "height": "7",
        "format": "<style>\n    .dot {\n      height: 25px;\n      width: 25px;\n      background-color: red;\n      border-radius: 50%;\n      display: inline-block;\n    }\n    \n    .led-grid {\n        width:100%;\n        text-align:center;\n    }\n\n    .flex-row {\n        display: flex;\n        flex-direction: row;\n        justify-content: space-around;\n        flex-wrap: wrap;\n    }\n    .flex-col {\n        width: 50%;\n    }\n</style>\n\n<div class='led-grid'>\n    <!--<div class='flex-row'>-->\n    <!--    <div class='flex-col' ng-repeat='led in msg.payload'>-->\n    <!--        <p>{{ led.topic }}<p>-->\n    <!--        <span class='dot' style=\"background-color:{{ led.color }}\"></span>-->\n    <!--    </div>-->\n    <!--</div>-->\n    \n    <div class='flex-row'>\n         <div class='flex-col'>\n            <p>LED 1</p>\n            <span class='dot' style=\"background-color:{{ msg.payload[0].color }}\"></span>\n        </div>\n        \n        <div class='flex-col'>\n            <p>LED 2</p>\n            <span class='dot' style=\"background-color:{{ msg.payload[1].color }}\"></span>\n        </div>\n    </div>\n    \n    <div class='flex-row'>\n         <div class='flex-col'>\n            <p>LED 3</p>\n            <span class='dot'></span>\n        </div>\n        \n        <div class='flex-col'>\n            <p>LED 4</p>\n            <span class='dot'></span>\n        </div>\n    </div>\n    \n    <div class='flex-row'>\n         <div class='flex-col'>\n            <p>LED 5</p>\n            <span class='dot'></span>\n        </div>\n        \n        <div class='flex-col'>\n            <p>LED 6</p>\n            <span class='dot'></span>\n        </div>\n    </div>\n    \n    <div class='flex-row'>\n         <div class='flex-col'>\n            <p>LED 7</p>\n            <span class='dot'></span>\n        </div>\n        \n        <div class='flex-col'>\n            <p>LED 8</p>\n            <span class='dot'></span>\n        </div>\n    </div>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a412ad04984d7a17",
        "type": "change",
        "z": "2917deb43ef3170b",
        "name": "LED1 OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "62a1db8434c6973b"
            ]
        ]
    },
    {
        "id": "98d3aad17043fc0e",
        "type": "change",
        "z": "2917deb43ef3170b",
        "name": "LED1 ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "62a1db8434c6973b"
            ]
        ]
    },
    {
        "id": "62a1db8434c6973b",
        "type": "change",
        "z": "2917deb43ef3170b",
        "name": "SET LED1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "3abdf2cd0e67f465"
            ]
        ]
    },
    {
        "id": "a7bf8497854a8b69",
        "type": "debug",
        "z": "2917deb43ef3170b",
        "name": "debug msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 260,
        "wires": []
    },
    {
        "id": "3abdf2cd0e67f465",
        "type": "led-trigger-node",
        "z": "2917deb43ef3170b",
        "name": "",
        "x": 1200,
        "y": 340,
        "wires": [
            [
                "f0ce2b25298e4689",
                "a7bf8497854a8b69"
            ]
        ]
    },
    {
        "id": "f0ce2b25298e4689",
        "type": "function",
        "z": "2917deb43ef3170b",
        "name": "LED1 Status",
        "func": "if (msg.payload === 1)  {\n    status = \"ON\";\n    msg.color = \"lime\";\n} else {\n    status = \"OFF\";\n    msg.color = \"red\";\n}\n\nmsg.status = msg.topic + \": \" + status;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "e74bee2a089bc1d8"
            ]
        ]
    },
    {
        "id": "21ddbe6933690e43",
        "type": "debug",
        "z": "2917deb43ef3170b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "d760f0b8800961d4",
        "type": "debug",
        "z": "2917deb43ef3170b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 380,
        "wires": []
    },
    {
        "id": "e74bee2a089bc1d8",
        "type": "merge",
        "z": "2917deb43ef3170b",
        "name": "",
        "timeout": "",
        "x": 1630,
        "y": 400,
        "wires": [
            [
                "d760f0b8800961d4",
                "df98bda01cc61c4e"
            ]
        ]
    },
    {
        "id": "41f64ff718e7bbd1",
        "type": "ui_group",
        "name": "Thermocouple Reading",
        "tab": "de95c124a23230c4",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dc798b2378888ec",
        "type": "ui_group",
        "name": "LED Status",
        "tab": "de95c124a23230c4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de95c124a23230c4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]